.profile__info-title {
  margin: 22.25px 0 auto;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
}

@media screen and (min-width: 768px) {
  .profile__info-title {
    margin: 0;
    font-size: 42px;
    line-height: 48px;
  }
}